html {
    font-size: 24px;
}

body {
    margin: 0;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #fff;
    max-width: 1400px;
    margin: auto;
}

body.dark {
    color: #fff;
    background-color: #212529;
}

.theme-toggler {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.navigation {
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.navigation a:not(:last-child) {
    margin-right: 25px;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    border: 3px solid;
    border-radius: 40px;
    font-style: italic;
    margin: 0 20px;
}

ul:not(:last-of-type) {
    margin-bottom: 60px;
}

li {
    text-align: left;
    font-size: 1.388rem;
    line-height: 1.722rem;
}

footer {
    font-size: 0.7rem;
    margin: 50px 0 10px;
}

.contact {
    font-size: 1.944rem;
    line-height: 2.77rem;
    display: block;
}

.topbutton {
    display: inline-block;
    background-color: rgba(255, 172, 28, 1);
    color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 19px;
    right: 19px;
    transition: .5s;
}

.topbutton::before {
    content: "";
    width: 30px;
    height: 18px;
    display: block;
    background-image: url("./icons/arrow.svg");
    margin: 0 auto;
    margin-top: 35%;
}

.topbutton:hover {
    cursor: pointer;
    background-color: rgb(232, 248, 2);
}